# Arithmatic operations

a**b = a to the power b
a**(1/2) = square root a
a//b= float division 5/2=2 not 2.5 only take integers as answers
a%b = remainder of a/b

# Type function

In [2]:
a=10
b=12.5
c="Panda"
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

# Implicit vs Explicit Conversion

 Implicit conversion is where the interpreter helps us out and automatically converts one data type into another, without having to explicitly tell it to do so.

By contrast, explicit conversion is where we manually convert from one data type to another by calling the relevant function for the data type we want to convert to. We used this in our video example when we wanted to print a number alongside some text. Before we could do that, we needed to call the str() function to convert the number into a string. Once the number was explicitly converted to a string, we could join it with the rest of our textual string and print the result.

In [3]:
a=10
print("My age is "+ str(a))

My age is 10

# Function

In [7]:
def greetings(name,dept):
    print("Wellcome to our "+dept+" department "+name)

In [8]:
greetings("Shuvro","Aerospace Engineering")

Wellcome to our Aerospace Engineering department Shuvro

In [9]:
def area_of_triangle(base,height):
    return (base*height)/2

In [10]:
print(area_of_triangle(5,6))

15.0

In [11]:
def convert_seconds(seconds):
    hours=seconds//3600
    min=(seconds-hours*3600)//60
    rem_sec=seconds-hours*3600-min*60
    return hours,min,rem_sec

In [13]:
hours,minutes,seconds=convert_seconds(5000)
print(hours)
print(minutes)
print(seconds)

1
23
20

# Comparison operators

a == b: a is equal to b

a != b: a is different than b

a < b: a is smaller than b

a <= b: a is smaller or equal to b

a > b: a is bigger than b

a >= b: a is bigger or equal to b

# Logical operators

a and b: True if both a and b are True. False otherwise.

a or b: True if either a or b or both are True. False if both are False.

not a: True if a is False, False if a is True.

# while Loop

In [1]:
x=0;
while x<5:
    print("Not there yet x: "+str(x))
    x=x+1
print("x= "+str(x))

Not there yet x: 0
Not there yet x: 1
Not there yet x: 2
Not there yet x: 3
Not there yet x: 4
x= 5

# for loop

In [2]:
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [3]:
for x in range(2,10):
    print(x)

2
3
4
5
6
7
8
9

In [4]:
for x in range(2,10,2):
    print(x)

2
4
6
8

In [8]:
for left in range(7):
    for right in range(left,7):
        print("["+str(left)+"|"+str(right)+"]",end=" ")
    print()

[0|0] [0|1] [0|2] [0|3] [0|4] [0|5] [0|6]
[1|1] [1|2] [1|3] [1|4] [1|5] [1|6]
[2|2] [2|3] [2|4] [2|5] [2|6]
[3|3] [3|4] [3|5] [3|6]
[4|4] [4|5] [4|6]
[5|5] [5|6]
[6|6]

# Recursion

In [9]:
def factorial(n):
    if n<2:
        return 1
    return n*factorial(n-1)

factorial(5)

120

# Strings

In [1]:
a="Shuvro"
b='Das'
#a+b will give error. both strings must be same(either "" or '')
c=a*3
c

'ShuvroShuvroShuvro'

In [3]:
print(len(c))

18

In [4]:
name="Shuvro"
print(name[0])

S

In [6]:
print(name[len(name)-1])

o

In [7]:
print(name[-1])# - indices prints from backwords but start with -1

o

Slice : The portion of a string that can contain more than ne character: also sometimes called a substring.

In [8]:
color="Orange"
color[1:4]

'ran'

In [9]:
fruit="Pineapple"
print(fruit[:4])
print(fruit[4:])

Pine
apple

Creating new strings

In [10]:
message="A kong string with a silly typo"
#message[2]='l' will be error because we can't modify a string but can create a new one
new_message=message[0:2]+"l"+message[3:]
print(new_message)

A long string with a silly typo

Method: a function associated with a specific class

In [15]:
pets="cats & dogs"
pets.index("&")

5

In [14]:
pets.index("c")

0

In [13]:
pets.index("dog")

7

In [16]:
"dragons" in pets

False

In [17]:
"cats" in pets

True

In [18]:
# if your company change its domain. then write a function that changes all the old domain from the emails

def replace_domain(email,old_domain, new_domain):
    if "@"+ old_domain in email:
        index=email.index("@"+old_domain)
        new_email=email[:index]+"@"+new_domain
        return new_email
    return email

In [19]:
"Mountains".upper()

'MOUNTAINS'

In [20]:
"Mountains".lower()

'mountains'

In [21]:
"  Yes   ".strip()# gets rid of surrounding spaces,tabs,newline character

'Yes'

In [22]:
"   tes  ".lstrip()# to get rid of whitespaces on left

'tes  '

In [23]:
"   tes  ".rstrip()# to get rid of whitespaces on right

'   tes'

In [24]:
"The number of times e occurs in this string".count("e")

4

In [25]:
"to check a string ends with a certain substring".endswith("ring")

True

In [26]:
"Forest".isnumeric()

False

In [27]:
"1234".isnumeric()

True

In [28]:
int("123")+int("345")

468

In [29]:
" ".join(["this","is","a","phrase","joined","by","spaces"])

'this is a phrase joined by spaces'

In [31]:
"...".join(["this","is","a","phrase","joined","by","tripple","dots"])

'this...is...a...phrase...joined...by...tripple...dots'

In [32]:
"This is another example".split()

['This', 'is', 'another', 'example']

In [35]:
def initials(phrase):
    words = phrase.upper().split()
    result = ""
    for word in words:
        result += word[0]
    return result

print(initials("Universal Serial Bus")) # Should be: USB
print(initials("local area network")) # Should be: LAN
print(initials("Operating system")) # Should be: OS

USB
LAN
OS

Formatting string

In [36]:
name="Manny"
number=len(name)*3
print("Hello {}, Your lucky number is {}".format(name,number))

Hello Manny, Your lucky number is 15

In [37]:
print("Your lucky number is {number}, {name}.".format(name=name,number=len(name)*3))

Your lucky number is 15, Manny.

In [38]:
price=7.5
with_tax=price*1.09
print(price,with_tax)
print("Base price: ${:.2f}. With tax: ${:.2f}".format(price,with_tax))

7.5 8.175
Base price: $7.50. With tax: $8.18

In [39]:
def to_celcius(x):
    return (x-32)*5/9

for x in range(0,101,10):
    print("{:>3} F | j{:>6.2f} C".format(x,to_celcius(x))) #:> used to allign text to the right for n 3/6 spaces

  0 F | j-17.78 C
 10 F | j-12.22 C
 20 F | j -6.67 C
 30 F | j -1.11 C
 40 F | j  4.44 C
 50 F | j 10.00 C
 60 F | j 15.56 C
 70 F | j 21.11 C
 80 F | j 26.67 C
 90 F | j 32.22 C
100 F | j 37.78 C

In [60]:
# palindrome
def is_palindrome(x):
    new_string = "".join(x.lower().strip().split())
    reverse_string = ""
    for i in range(-1,-1*len(new_string)-1,-1): 
        reverse_string+=new_string[i]
    if new_string==reverse_string:
        return True
    return False

print(is_palindrome("Never Odd or Even")) # Should be True
print(is_palindrome("abc")) # Should be False
print(is_palindrome("kayak")) # Should be True

True
False
True

In [69]:
a="Rainfall"
print(a[:4])

Rain

In [70]:
a="This is a joke"
a.split()

['This', 'is', 'a', 'joke']

In [72]:
a.strip().split()

['This', 'is', 'a', 'joke']

# Lists

In [62]:
x=["now","we","are","cooking"]
type(x)

list

In [63]:
len(x)

4

In [64]:
print(x[0])

now

In [65]:
print(x[-1])

cooking

In [66]:
x[1:3]

['we', 'are']

In [67]:
x[:2]

['now', 'we']

In [68]:
x[2:]

['are', 'cooking']

Modifying list

In [73]:
fruits=["pineapple","banana","apple","melon"]
fruits.append("kiwi")
print(fruits)

['pineapple', 'banana', 'apple', 'melon', 'kiwi']

In [75]:
fruits.insert(1,"mango")
print(fruits)

['pineapple', 'mango', 'banana', 'apple', 'melon', 'kiwi']

In [76]:
fruits.insert(100,"orange")
print(fruits)

['pineapple', 'mango', 'banana', 'apple', 'melon', 'kiwi', 'orange']

In [77]:
fruits.remove("banana")# remove the first occurance of the element
print(fruits)

['pineapple', 'mango', 'apple', 'melon', 'kiwi', 'orange']

In [79]:
# pop method
fruits.pop(3)

'kiwi'

In [80]:
print(fruits)

['pineapple', 'mango', 'apple', 'orange']

In [81]:
fruits[2]="strawberry"
print(fruits)

['pineapple', 'mango', 'strawberry', 'orange']

Lists are sequences of elemtns of any type, and are mutable.
 strings are sequences that are immutable.
 Tuples are sequences of elements of any tupe but immutable.

# Tuples

In [84]:
fullname=('Grace','M','Hopper')

In [85]:
animals=["Lion","Zebra","Dolphine","Monkey"]
chars=0
for animal in animals:
    chars+=len(animals)
    
print("Total characters {}, Average length: {}".format(chars,chars/len(animals)))

total characters 16, Average length: 4.0

In [87]:
for index, animal in enumerate(animals):
    print("{} - {}".format(index+1,animal))
    # if you want to access the elements in a list, along with the index of the element in question? 
    #You can do this using the enumerate() function. 
    #The enumerate() function takes a list as a parameter and returns a tuple for each element in the list.
    #The first value of the tuple is the index and the second value is the element itself.

1 - Lion
2 - Zebra
3 - Dolphine
4 - Monkey

In [89]:
def full_emails(people):
    result=[]
    for email,name in people:
        result.append("{} <{}>".format(name,email))
    return result

print(full_emails([("alex@example.com","Alex Diego"),("shy@example.com","Shay green"),]))

['Alex Diego <alex@example.com>', 'Shay green <shy@example.com>']

In [94]:
def skip_elements(elements):
	n=[]
	for i in range(0,len(elements),2):
		n.append(elements[i])
	
	return n

print(skip_elements(["a", "b", "c", "d", "e", "f", "g"])) # Should be ['a', 'c', 'e', 'g']
print(skip_elements(['Orange', 'Pineapple', 'Strawberry', 'Kiwi', 'Peach']))

['a', 'c', 'e', 'g']
['Orange', 'Strawberry', 'Peach']

In [95]:
multiples=[]
for x in range(1,11):
    multiples.append(x*7)
    
print(multiples)# we can do this using comprehension without for loop

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70]

# List comprehension

In [96]:
multiples=[x*7 for x in range(1,11)]
print(multiples)

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70]

In [98]:
languages=["Python","Perl","Ruby","Go","Java","C"]
lengths=[len(language) for language in languages]
print(lengths)

[6, 4, 4, 2, 4, 1]

In [100]:
z=[x for  x in range(0,101) if x%3==0]
print(z)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

ellohy
owhy
reay
ouyy
hello how are you
rogrammingpy
niy
ythonpy
siy
unfy
programming in python is fun

# Dictionaries

In [1]:
x={}
type(x)

dict

In [3]:
file_count={"jpg":10,"py":23,"csv":21,"txt":14}
print(file_count)

{'jpg': 10, 'py': 23, 'csv': 21, 'txt': 14}

In [4]:
file_count["txt"]

14

In [5]:
"jpg" in file_count

True

In [6]:
"html" in file_count

False

In [9]:
file_count["csp"]=24
print(file_count)

{'jpg': 10, 'py': 23, 'csv': 21, 'txt': 14, 'csp': 24}

In [10]:
del file_count["py"]
print(file_count)

{'jpg': 10, 'csv': 21, 'txt': 14, 'csp': 24}

In [11]:
for i in file_count:
    print(i)

jpg
csv
txt
csp

In [13]:
for ext,amounts in file_count.items():
    print("There are {} files with {} extensions".format(ext,amounts))

There are jpg files with 10 extensions
There are csv files with 21 extensions
There are txt files with 14 extensions
There are csp files with 24 extensions

In [14]:
file_count.keys()

dict_keys(['jpg', 'csv', 'txt', 'csp'])

In [15]:
file_count.values()

dict_values([10, 21, 14, 24])

In [17]:
for value in file_count.values():
    print(value)

10
21
14
24

In [21]:
#reverse a dictionary
def groups_per_user(group_dictionary):
    users = {}
    for key, values in group_dictionary.items():
        for i in values:
            users.setdefault(i, []).append(key)
    return users

print(groups_per_user({"local": ["admin", "userA"],
		"public":  ["admin", "userB"],
		"administrator": ["admin"] }))

{'admin': ['local', 'public', 'administrator'], 'userA': ['local'], 'userB': ['public']}

In [1]:
#combining two dictionary
def combine_guests(guests1, guests2):
    guests2.update (guests1)
    return guests2

Rorys_guests = { "Adam":2, "Brenda":3, "David":1, "Jose":3, "Charlotte":2, "Terry":1, "Robert":4}
Taylors_guests = { "David":4, "Nancy":1, "Robert":2, "Adam":1, "Samantha":3, "Chris":5}

print(combine_guests(Rorys_guests, Taylors_guests))

{'David': 1, 'Nancy': 1, 'Robert': 4, 'Adam': 2, 'Samantha': 3, 'Chris': 5, 'Brenda': 3, 'Jose': 3, 'Charlotte': 2, 'Terry': 1}

# set

In [18]:
mset = {"apple", "banana", "cherry"} #no duplicates
print(mset)

{'apple', 'cherry', 'banana'}